<header class="header">
  <div class="back-icon">
    <h2>
    <%= link_to user_url(current_user) do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </h2>
  </div>
  <div class="section-title">
    <h2>New Group</h2>
  </div>
</header>

<div class="submit-form">
  <%= form_with model: @group do |f| %>
    <%= f.text_field :name, required: true, placeholder: "Name", class:"submit-field" %>
    <br>
    <%= f.submit "Save", class:"save-button" %>
    <% @group.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</div>