<header class="header">
  <div class="back-icon">
    <h2>
    <%= link_to groups_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </h2>
  </div>
  <div class="section-title">
    <h2 class="title"><%= @group.name %></h2>
  </div>
</header>

<main class="sessions">
  <div class="sessions__list">
    <% @group.projects.each do |s| %>
      <div class="sessions__list__item">
        <div class="item">
          <div>
            <h4><%= s.name %></h4>
            <strong><%= s.amount %></strong>
          </div>
          <div class="item__details">
            <p>
            <%# <%= s.user.name %> %>
            </p>
            <span><%= s.created_at.strftime('%d %b %Y') %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>

<div class="new">
  <%= link_to "Add new", new_project_path, class: "save-button" %>
</div>