<header class="header">
  <div class="back-icon">
    <h2>
    <%= link_to user_url(current_user) do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </h2>
  </div>
  <div class="section-title">
    <h2>New Project</h2>
  </div>
</header>

<main class="submit-form">
  <%= form_with model: @project do |x| %>
    <%= x.text_field :name, required: true, class:"submit-field" %>
    <br>
    <%= select_tag(:group, options_for_select(Group.all.map  {|x| x.name}), {class: "submit-options"})%>
    <br>
    <%= x.submit "Save", class:"save-button" %>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</main>