<!DOCTYPE html>
<html>
  <head>
    <title>ProjectApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type,  msg| %>
      <p style="color: red"><%= msg %></p>
    <% end %>
    <%= yield %>
    <script src="https://kit.fontawesome.com/0dfc1e290d.js" crossorigin="anonymous"></script>
  </body>
</html>
